@model List<Student.BLL.DTO.ExamDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <div>All Exams</div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>GroupId</th>
                <th>LessonId</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Full Mark</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.GroupId</td>
            <td>@item.LessonId</td>
            <td>@item.ExamDate.ToString("dd/MM/yyyy hh:mm")</td>
            <td>@item.Duration</td>
            <td>@item.FullMark</td>
            <td>
                @Html.ActionLink("View Questions", "Index", "QuestionBank", new { examid = item.Id }, new { @class = "btn btn-default  btn-xs" })
            </td>
            <td>
                @Html.ActionLink("Add Questions", "AddQuestion", "QuestionBank", new { examid = item.Id }, new { @class = "btn btn-default  btn-xs" })
            </td>
            @*<td class="text-right">@item.LessonId</td>
        <td class="text-right">@item.Name</td>*@
        </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a New Exam", "addExam", "Exam", null,
            new { @class = "btn btn-default" })
    </div>
</div>