@model Student.DAL.Entities.Exam

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Регистрация";
    var Groups = (List<Student.DAL.Entities.StudentGroup>)ViewBag.Groups;
    var Lessons = (List<Student.DAL.Entities.Lesson>)ViewBag.Lessons;
}

<h2>Add New Exam</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ExamDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamDate, new { htmlAttributes = new { @class = "form-control", placeholder = "dd/MM/yyyy" } })
                @Html.ValidationMessageFor(model => model.ExamDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="GroupId"  class="form-control">
                    @foreach (var item in Groups)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LessonId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="LessonId"  class="form-control">
                    @foreach (var item in Lessons)
                    {
                        <option value="@item.LessonId">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", "Admin")
</div>