@model Student.BLL.DTO.OptionsDTO
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var question = (Student.BLL.DTO.QuestionBankDTO)ViewBag.Question;
}
<h2> @question.Question </h2>
<h3>Add new Option</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
        </div>
        
       @Html.LabelFor(model => model.Correct_Answer, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.CheckBoxFor(model => model.BoolValue, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Correct_Answer, "", new { @class = "text-danger" })
    </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="Index" asp-controller="QuestionBank" asp-route-examId="@question.ExamId" class="btn btn-sm btn-success"> 
                <input type="submit" value="Add" class="btn btn-default" />
            </a>
</div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to Questions", "Index", "QuestionBank",   new { examid = question.ExamId }, new { @class = "btn btn-default  btn-xs" })
</div>

